<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
        <title>Roomatching</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">

        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumpenscript.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/jejugothic.css">

        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
        <!--For Plugins external css-->
        <link rel="stylesheet" href="/stylesheets/plugins.css" />
        <!--Theme custom css -->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/stylesheets/responsive.css" />
        <script src="javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

                            <script src="/javascripts/vendor/jquery-1.11.2.min.js"></script>
                            <script src="/javascripts/vendor/bootstrap.min.js"></script>

                            <script src="/javascripts/jquery.magnific-popup.js"></script>
                            <script src="/javascripts/jquery.mixitup.min.js"></script>
                            <script src="/javascripts/jquery.easing.1.3.js"></script>
                            <script src="/javascripts/jquery.masonry.min.js"></script>
                            <script src="/javascripts/plugins.js"></script>
                            <script src="/javascripts/main.js"></script>
</script>
  </head>
  <body  data-spy="scroll" data-target=".navbar" data-offset="200">
    <div class="culmn">
                <header id="main_menu" class="header navbar-fixed-top">
                    <div class="main_menu_bg">
                        <div class="container">
                            <div class="row">
                                <div class="nave_menu">
                                    <nav class="navbar navbar-default">
                                        <div class="container-fluid">
                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                                <a class="navbar-brand" href="/">
                                                    <img src="/images2/real.png"/>
                                                </a>
                                            </div>
                                            <!-- Collect the nav links, forms, and other content for toggling -->
                                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                <ul class="nav navbar-nav navbar-right">
                                                    <li><a href="/">HOME</a></li>
                                                      <li><a href="/customer">LOGIN</a></li>
                                                        <li><a href="/customer/join">JOIN</a></li>

                                                </ul>
                                            </div>

                                        </div>
                                    </nav>
                                </div>
                            </div>

                        </div>

                    </div>
                </header> <!--End of header -->
                  <div class="headerbg"></div><!--헤더 흰색배경-->

    <section id="home" class="home">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="main_home_slider text-center">
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                          <br><br>
                                            <h1 class="jejugothic">Roommate + Matching</h1>
                                            <h2 class="nanumpenscript">Roommatching 나에게 꼭 맞는 룸메이트를 찾아보세요</h2>
                                             <div class='home_btn'>
                                                <h1><a href='/customer' class='btn btn-primary'>로그인</a>
                                                  <a href='/customer/join' class='btn btn-primary'>회원가입</a>
                                                </h1>
                                             </div>
                                           </div>
                                    </div>
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                           <i class="fa fa-quote-left"></i>
                                           <h1></h1>
                                            <h1 class="neon">룸메이트, 그뤠이트</h1>
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                           <i class="fa fa-quote-left"></i>
                                           <h1></h1>
                                           <h1 class="neon">ROOMMATE, SOULMATE</h1>
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            <section id="about" class="about">
                <div class="container">
                    <div class="row">

                        <div class="main_about_area sections">
                            <div class="col-sm-12">

                                <div class="main_about_content">
                                    <div class="row" style="margin-top:100px;">

                                        <div class="col-sm-7 wow fadeInRight" data-wow-duration="700ms">
                                            <div class="single_about_right_content">
                                                <div class="head_title">
                                                    <h3>ABOUT ROOMATCHING</h3>
                                                    <div class="separator"></div>
                                                </div>

                                                <div class="single_about">
                                                    <div class="single_ab_icon">
                                                        <div class="ab_border_right"></div>
                                                        <i class="fa fa-heart"></i>
                                                    </div>
                                                    <div class="single_ab_text">
                                                        <h3>EASY</h3>
                                                        <p>마음이 맞는 룸메이트를 쉽게 구할 수 있어요!</p>
                                                    </div>
                                                </div>
                                                <div class="single_about">
                                                    <div class="single_ab_icon">
                                                        <i class="fa fa-thumbs-up"></i>
                                                    </div>
                                                    <div class="single_ab_text">
                                                        <h3>SAFE</h3>
                                                        <p>안전하게 룸메이트와 매칭해보아요!</p>
                                                    </div>
                                                </div>
                                                <div class="single_about">
                                                    <div class="single_ab_icon">
                                                        <i class="fa fa-bed"></i>
                                                    </div>
                                                    <div class="single_ab_text">
                                                        <h3>DORMITORY</h3>
                                                        <p>기숙사 매칭까지</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="single_about_left_img margin-top-40 text-center wow fadeInLeft" data-wow-duration=".6s">
                                                <img src="/images2/about.png" alt="" />
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

                        <section id="footer" class="footer_widget">
                                       <div class="video_overlay">
                                           <div class="container">
                                               <div class="row">
                                                   <div class="col-sm-12">
                                                       <div class="row">
                                                           <div class="main_widget">
                                                               <div class="col-sm-3 col-xs-12">
                                                                   <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                                                       <div class="footer_logo">
                                                                           <img src="/images2/real.png" alt="" />
                                                                       </div>
                                                                       <p> Our roomatching service is ~~~~~~~~~~. </p>

                                                                   </div>
                                                               </div>

                                                               <div class="col-sm-3  col-xs-12">
                                                                   <div class="single_widget wow fadeIn kg" data-wow-duration="800ms">

                                                                       <div class="footer_title">
                                                                           <h4>이 서비스를 구매해주세요</h4>
                                                                           <div class="separator"></div>
                                                                       </div>
                                                                       <ul>
                                                                           <li><a href="">단돈 10억</a></li>
                                                                           <li><a href="">한사람당 2.5억</a></li>
                                                                           <li><a href="">부자가 될 수 있어요</a></li>
                                                                           <li><a href="">싸게 팔게요</a></li>
                                                                       </ul>
                                                                   </div>
                                                               </div>

                                                               <div class="col-sm-3  col-xs-12">
                                                                   <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                                                       <div class="footer_title">
                                                                           <h4>☆Snoopy Yeju☆</h4>
                                                                           <div class="separator"></div>
                                                                       </div>
                                                                       <ul>
                                                                           <li><a href="">[지츄] 두잇두잇 츄우</a></li>
                                                                           <li><a href="">[예쮸구리] 쭈글..쭈글..</a></li>
                                                                           <li><a href="">[민써니] 레이니☆클라우디★</a></li>
                                                                           <li><a href="">[디요니] 1+1=디요니</a></li>
                                                                       </ul>
                                                                   </div>
                                                               </div>

                                                               <div class="col-sm-3 col-xs-12">
                                                                   <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                                                       <div class="footer_title">
                                                                           <h4>Thanks to♥</h4>
                                                                           <div class="separator"></div>
                                                                       </div>

                                                                       <div class="footer_subcribs_area">
                                                                           <p>지훈 백-무한루프를 발견함</p>
                                                                           <p>다인 이-전역변수를 사용하게 해쥼</p>


                                                                       </div>
                                                                   </div>
                                                               </div>
                                                           </div>
                                                       </div>

                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </section>


                                   <section class="footer">
                                       <div class="container">
                                           <div class="row">
                                               <div class="col-sm-12">
                                                   <div class="main_footer">
                                                       <div class="row">

                                                           <div class="col-sm-6 col-xs-12">
                                                               <div class="copyright_text">
                                                                   <p style="font-size:15px;" class=" wow fadeInRight" data-wow-duration="1s">Made with <i class="fa fa-heart"></i> by  Snoopy Yeju_☆</p>
                                                               </div>
                                                           </div>

                                                           <div class="col-sm-6 col-xs-12">
                                                               <div class="flowus">
                                                                   <img src="/images2/snoopyface.png"/>
                                                                   <img src="/images2/snoopyface2.png"/>
                                                                   <img src="/images2/snoopyface3.png"/>
                                                                   <img src="/images2/snoopyface4.png"/>
                                                               </div>
                                                           </div>

                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </section>









                               </div>



            <!-- START SCROLL TO TOP  -->

                    <div class="scrollup">
                        <a href="#"><i class="fa fa-chevron-up"></i></a>
                    </div>



                    <script>

                    $(window).scroll(function () {
                        var top = $(document).scrollTop();
                        var height = 300;
                    //alert(batas);

                        if (top > height) {
                            $('.navbar-fixed-top').addClass('menu-scroll');
                        } else {
                          $('.navbar-fixed-top').removeClass('menu-scroll');
                        }
                    });
                    </script>




  </body>
</html>
