<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>list</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- <script src="/js/jquery.min.js"></script> -->
    <!-- <script src="/js/bootstrap.min.js"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">

    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/jejugothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumpenscript.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/magnific-popup.css">
    <!--For Plugins external css-->
    <link rel="stylesheet" href="/stylesheets/plugins.css" />
    <!--Theme custom css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--Theme Responsive css-->
    <link rel="stylesheet" href="/stylesheets/responsive.css" />
    <script src="/javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    <script src="/javascripts/vendor/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/vendor/bootstrap.min.js"></script>

    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <script src="/javascripts/jquery.mixitup.min.js"></script>
    <script src="/javascripts/jquery.easing.1.3.js"></script>
    <script src="/javascripts/jquery.masonry.min.js"></script>
    <script src="/javascripts/plugins.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="200" onload="filter_show_list();">
    <div class="culmn">
                <header id="main_menu" class="header navbar-fixed-top">
                    <div class="main_menu_bg">
                        <div class="container">
                            <div class="row">
                                <div class="nave_menu">
                                    <nav class="navbar navbar-default">
                                        <div class="container-fluid">
                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                                <a class="navbar-brand" href="/">
                                                    <img src="/images2/real.png"/>
                                                </a>
                                            </div>
                                            <!-- Collect the nav links, forms, and other content for toggling -->
                                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                <ul class="nav navbar-nav navbar-right">
                                                    <li><a href="/index">HOME</a></li>
                                                      <li><a href="/customer/logout">LOGOUT</a></li>

                                                </ul>
                                            </div>

                                        </div>
                                    </nav>
                                </div>
                            </div>

                        </div>

                    </div>
                </header> <!--End of header -->
                  <div class="headerbg"></div><!--헤더 흰색배경-->


                  <section id="testimonial" class="testimonial">
                                  <div class="video_overlay">
                                      <div class="container">
                                          <div class="row">
                                              <div class="main_testimonial sections text-center">
                                                  <div class="col-md-12" data-wow-delay="0.2s">
                                                      <i class="fa fa-quote-left" style="font-size:32px;"></i>
                                                      <p class="whitetitle"><br>룸메이트 서칭 중...</p>
                                                      <i class="fa fa-quote-right" style="font-size:32px;"></i>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </section>



                              <div class="mintbg">
                                <div class="filterwrapper">                                                                                                                                                                                          <div>
                                  <form name="filter_form" method="get">
                                    <div class="table-responsive">
                                        <table class="table">
                                          <tbody>
                                              <tr>
                                                <td width="20%" ><input type="checkbox" name="select" id="select" value="select">&emsp;성별</td>
                                                <td width="80%">
                                                    <div class="selectdiv2">
                                                    <select class="select2" name="sex" style="width:300px; height:40px; padding-bottom:6px;">
                                                      <option value="">성별을 선택해주세요</option>
                                                      <option value="0">여자</option>
                                                      <option value="1">남자</option>
                                                    </select>
                                                    </div>
                                                </td>
                                              </tr>
                                                  <tr>
                                                    <td width="20%"><input type="checkbox" name="select" id="select" value="select" >&emsp;나이</td>
                                                    <td width="80%">
                                                      <input type="text" style="height: 40px; font-size: 14px; padding-left: 10px; " name="min_year" placeholder="YYYY로 입력해주세요">&nbsp;&nbsp;이상&emsp;
                                                      <input type="text" style="height: 40px; font-size: 14px; padding-left: 10px; " name="max_year" placeholder="YYYY로 입력해주세요">&nbsp;&nbsp;이하
                                                    </td>
                                                  </tr>
                                              <tr>
                                                <td width="20%"><input type="checkbox" name="select" id="select" value="select">&emsp;집</td>
                                                <td width="80%">
                                                    <div class="selectdiv2">
                                                  <select class="select2" name="house_id" id="house_id" style="width:300px; height:40px; padding-bottom:6px;">
                                                    <option value="">원하는 집의 유무 상태를 선택해주세요</option>
                                                    <option value="0">없음</option>
                                                    <option value="1">있음</option>
                                                    <option value="2">상관없음</option>
                                                  </select>
                                                </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td width="20%"><input type="checkbox" name="select" id="select" value="select">&emsp;흡연</td>
                                                <td width="80%">
                                                    <div class="selectdiv2">
                                                  <select class="select2" name="smoking" id="smoking" style="width:300px; height:40px; padding-bottom:6px;">
                                                    <option value="">원하는 흡연 여부를 선택해주세요</option>
                                                    <option value="0">X</option>
                                                    <option value="1">O</option>
                                                    <option value="2">상관없음</option>
                                                  </select>
                                                </div>
                                                </td>
                                              </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                    <button type="submit" name="button" class="btnsmall" onclick="location.href='/information/list'">필터적용</button>
                                  </form>
                                </div>
                              </div>



                              <section id="service" class="service">
                                <div class="mintbg">
                                              <div class="container">
                                                  <div class="row">
                                                      <div class="col-sm-12">
                                                          <div class="main_service_area">
                                                              <div class="main_service_content">
                                                                  <div class="service_tabe">
                                                                      <!-- Nav tabs -->

                                                                      <!-- Tab panes -->
                                                                      <div class="tab-content">
                                                                          <div role="tabpanel" class="tab-pane active" id="webdesign">
                                                                              <div class="single_service_tab">
                                                                                      <div class="row">
                                                                                          <div class="single_tab_content">


                                                                                              <div class="head_title">
                                                                                                  <h3 style="color:white;" class="whitetitle">룸메이트 리스트</h3>
                                                                                                  <div class="separator"></div>
                                                                                              </div>

                                                                                              <p>
                                                                                                <div class="form-group">
                                                                                                    <div class="darkmintbg3">
                                                                                                      <div id = "list_div">
                                                                                                        <div class="table-responsive">
                                                                                                          <table class="table table-hover thead-light" id="info_table">
                                                                                                            <thead>
                                                                                                            <tr>
                                                                                                              <th>아이디</th>
                                                                                                              <th>나이</th>
                                                                                                              <th>성별</th>
                                                                                                              <th>집유무</th>
                                                                                                            </tr>
                                                                                                            </thead>
                                                                                                          <tbody id="info_tbody">
                                                                                                          </tbody>
                                                                                                          </table>
                                                                                                        </div>
                                                                                                      </div>



                                                                                                    </div>
                                                                                                </div>
                                                                                              </p>

                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                          </section>


<!--
    <form name="filter_form" method="get">
      <table>
        <tr>
          <td><input type="checkbox" name="select" id="select" value="select">성별</td>
          <td>
            <select name="sex" id="sex">
              <option value="">성별을 선택해주세요</option>
              <option value="0">여자</option>
              <option value="1">남자</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" name="select" id="select" value="select">나이</td>
          <td>
            <input type="text" name="min_year" placeholder="YYYY로 입력해주세요"> 이상
            <input type="text" name="max_year" placeholder="YYYY로 입력해주세요"> 이하
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" name="select" id="select" value="select">집</td>
          <td>
            <select name="house_id" id="house_id">
              <option value="">원하는 집의 유무 상태를 선택해주세요</option>
              <option value="0">없음</option>
              <option value="1">있음</option>
              <option value="2">상관없음</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" name="select" id="select" value="select">흡연</td>
          <td>
            <select name="smoking" id="smoking">
              <option value="">원하는 흡연 여부를 선택해주세요</option>
              <option value="0">X</option>
              <option value="1">O</option>
              <option value="2">상관없음</option>
            </select>
          </td>
        </tr>
      </table>
      <button type="submit" name="button" onclick="location.href='/information/list'">필터적용</button>
    </form>

    <div id = "list_div">
      <table class="information" id="info_table">
        <thead>
        <tr>
          <th>아이디</th>
          <th>나이</th>
          <th>성별</th>
          <th>집유무</th>
        </tr>
        </thead>
      <tbody id="info_tbody">
      </tbody>
      </table>
    </div> -->


    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main_footer">
                        <div class="row">

                            <div class="col-sm-6 col-xs-12">
                                <div class="copyright_text">
                                    <p style="font-size:15px;" class=" wow fadeInRight" data-wow-duration="1s">Made with <i class="fa fa-heart"></i> by  Snoopy Yeju_☆</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                <div class="flowus">
                                    <img src="/images2/snoopyface.png"/>
                                    <img src="/images2/snoopyface2.png"/>
                                    <img src="/images2/snoopyface3.png"/>
                                    <img src="/images2/snoopyface4.png"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>









    </div>



    <!-- START SCROLL TO TOP  -->

    <div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>



    <script>

    $(window).scroll(function () {
    var top = $(document).scrollTop();
    var height = 300;
    //alert(batas);

    if (top > height) {
    $('.navbar-fixed-top').addClass('menu-scroll');
    } else {
    $('.navbar-fixed-top').removeClass('menu-scroll');
    }
    });
    </script>



    <script src="/javascripts/information.js"></script>
  </body>
</html>
